@import '../../params';

.Catalog {
    font-size: 1.3rem;
    color: $text-color;
    &__list {
        width: 100%;

        .title {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            z-index: 1;
        }

        .head {
            font-weight: bold;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            grid-gap: 2rem;
            padding: 1rem;
        }

        &-item {
            width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
            grid-gap: 2rem;
            align-items: center;

            padding: 1rem;
            background-color: $secondary;
            margin-bottom: 0.5rem;
            border-radius: 1rem;

            &:hover {
                background-color: $text-color;
                color: white;

                .plus, .minus {
                    color: $text-color;
                }
            }

            .name {
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;

                    
                }
            }

            .amount {
                display: flex;
                align-items: center;
                font-size: 2rem;

                input {
                    width: 6rem;
                    height: 2.7rem;
                    padding: 0 0.5rem;
                    border-radius: 0.5rem;
                    text-align: center;
                }

                .plus, .minus {
                    height: 2.5rem;
                    width: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background-color: $primary;
                    border-radius: 0.5rem;

                    &:hover {
                        background-color: $accent;
                        color: white;
                    }
                }
            }

            button {
                border-radius: 0.5rem;
                height: 100%;
                background-color: $primary;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: $accent;
                    color: white;
                }
            }

            .mobile {
                display: none;
            }
        }
    }

    @media (max-width: 650px) {

        &__list {
            .head {
                display: none;
            }

            &-item {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                justify-items: center;

                .name {
                    grid-row: 1/2;
                    grid-column: 1/3;
                    justify-self: left;
                }
                button {
                    grid-row: 1/2;
                    grid-column: 3/4;
                    justify-self: right;
                    padding: 1rem 2rem;
                }

                .mobile {
                    display: block;
                    margin-bottom: 0.5rem;
                    text-decoration: underline;
                }
            }
        }
        
    
    }
}

