@import '../../params';

.ModalCall {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.336);
    top: 0;
    left: 0;
    font-size: 1.5rem;
    z-index: 1001;
    color: $text-color;

    &__form {
        position: relative;
        background-color: $secondary;
        height: 40%;
        min-height: 30rem;
        width: 30%;
        min-width: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
        border-radius: 1rem;

        h3 {
            text-align: center;
        }

        span {
            margin-left: 1rem;
        }

        input {
            background-color: $secondary;
            padding: 0.5rem;
            border-bottom: .1rem solid $primary;
        }

        .close {
            position: absolute;
            top: 0;
            left: calc(100% - 5rem);
            height: 5rem;
            width: 5rem;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            cursor: pointer;
            transform: rotate(45deg);
        }

        button {
            max-height: 4rem;
            min-height: 4rem;
        }

        p {
            font-weight: bold;
            text-align: center;
        }
    }
}