@import '../../params';

.Delivery {
    width: 100%;
    font-size: 1.5rem;
    
    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .desktop {
        width: 100%;
    }

    .mobile {
        display: none;
        
    }

    table {
        font-size: 1.3rem;
        max-width: 100%;
        border-collapse: collapse;
        border: .1rem solid $primary;

        tr:nth-child(5n - 4), tr:nth-child(5n - 3) {
            font-weight: bold;
        }

        td {
            padding: 2rem;
            border-bottom: .1rem solid $primary;
            background-color: $secondary;
        }
    }

    &__transport {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.2rem;
        margin-bottom: 2rem;

        &-item {
            text-align: center;
            padding: 1rem;
            background-color: $secondary;
        }

        &-name {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
    }


    &__map {
        margin: 2rem 0;
        // height: max-content;
        width: 100%;
        z-index: 1000;
        
        #mapid {
            width: 100%;
            height: 60rem;
        }

        .leaflet-container {
            width: 100%;
            height: 100%;
            // border: 1rem solid red;
            // overflow: hidden;
        }

        .leaflet-routing-geocoders  > button, .leaflet-routing-alternatives-container {
            display: none;
        }

        .leaflet-right {
            width: 90%;
        }

        .leaflet-left {
            

            .leaflet-control {
                border: none;
            }
        }

        .leaflet-routing-container {
            padding: 0;
            border: none;
            outline: none;
            width: 100%;
        }

        .leaflet-routing-geocoder {
            padding: 0;

            &:first-child {
                // margin-bottom: 1rem;
                display: none;
            }
        }

        .leaflet-routing-geocoders {
            background-color: $secondary;
            margin: 0;
            padding: 1rem;
            border: none;
            outline: none;
            border-radius: 0.5rem;

            input {
                background-color: $secondary;
                outline: none;
                border: 0.1rem solid $accent;
                padding: 0.5rem;
                width: 100%;

            }

            span::after {
                background-color: $secondary;
            }
        }

        .leaflet-popup-content-wrapper {
            border-radius: 0.5rem;
            margin: 0;

            button {
                background-color: $accent;
                color: white;
                padding: 0.5rem;
                font-weight: bold;
                border-radius: 0.2rem;
                cursor: pointer;

                // &:first-child {
                //     margin-right: 1rem;
                // }
            }
        }

        .leaflet-popup-content {
            width: max-content !important;
            // padding: 0.5rem;
            margin: 2.1rem 1rem 1rem 1rem;
        }
    }

    .warning {
        color: red;
    }

    @media (max-width: 920px) {
        .leaflet-right {
            width: 85%;
        }
    }

    @media (max-width: 570px) {
        .desktop {
            display: none;
        }

        .mobile {
            display: block;
            width: 100%;
        }
    }

    @media (max-width: 640px) {
        .leaflet-right {
            width: 80%;
            margin: 1rem;
        }
    }

    @media (max-width: 500px) {
        &__transport {
            grid-template-columns: 1fr;
        }
    }
}