@import '../../params';

.Admin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    grid-column: 1/3;
    font-size: 1.3rem;
    color: $text-color;

    &__back {
        position: fixed;
        top: 0;
        left: 0;
        font-weight: bold;
        padding: 1rem;

        &:hover {
            background-color: $secondary;
        }
    }

    .Login {
        form {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            border-radius: 1rem;
            background-color: $secondary;

            h1 {
                margin-bottom: 2rem;
                font-size: 2rem;
            }

            input {
                background-color: inherit;
                padding: 0.5rem;
                margin-bottom: 2rem;
                border-bottom: .1rem solid $text-color;
            }

            button {
                align-self: center;
                border-radius: 0.5rem;
                // height: 100%;
                padding: 1rem 3rem;
                width: max-content;
                background-color: $primary;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: $text-color;
                    color: $secondary;
                }
            }
        }
        
    }

    .Products {
        padding: 0 20%;
        width: 100%;
        align-self: flex-start;

        &__logout {
            position: fixed;
            width: 10rem;
            height: 4rem;
            top: 0;
            left: calc(100% - 10rem);
            font-weight: bold;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: $secondary;
            }
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__form-change-text {
            background-color: $secondary;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 1rem;

            label {
                div {
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                textarea {
                    width: 100%;
                    height: 7rem;
                    margin-bottom: 2rem;
                }
            }
        }

        &__search {
            margin: 2rem 0;
            // padding: 1rem 0;
            position: relative;

            input {
                padding: 0.5rem;
                background-color: inherit;
                border-bottom: 0.1rem solid $text-color;
                width: 20rem;

                &::placeholder {
                    color: $text-color;
                }
            }

            button {
                background-color: $secondary;
                margin-left: 2rem;
                padding: 0.5rem 2rem;
            }

        }

        &__change-text {
            background-color: $secondary;
        }
    }

    .Item {
        width: 100%;
        background-color: $secondary;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
        padding: 1rem;
        
        &__info {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            grid-gap: 2rem;
            align-items: center;

            .name {
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            
        }

        &__form {
            margin-top: 2rem;
            text-align: center;

            label {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 2.5fr;
                align-items: center;
                text-align: left;

                span {
                    margin-right: 2rem;
                }

                input {
                    padding: 0.5rem;
                    // background-color: inherit;
                    border-bottom: 0.1rem solid $text-color;
                    width: 20rem;
                }
            }
            
            button {
                padding: 0.5rem 3rem;
                grid-column: 1/3;
                margin-top: 2rem;
            }
        }
    }

    button {
        border-radius: 0.5rem;
        height: 100%;
        padding: 0.5rem;
        background-color: $primary;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: $text-color;
            color: $secondary;
        }
    }


    @media (max-width: 900px) {
        .Products {
            padding: 5rem 10%;
        }
    }

    @media (max-width: 650px) {
        .Products {
            padding: 5rem 5%;
        }
    }

    
}