@import '../../params';

.App {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 12rem max-content max-content;
    grid-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 15%;

    .Header {
        grid-column: 1/3;
        grid-row: 1;
    }

    .Banners {
        grid-column: 1/3;
        grid-row: 2;
    }

    .SideMenu {
        grid-column: 1/2;
        grid-row: 3;
    }

    .Content {
        grid-column: 2/3;
        grid-row: 3;
    }


    &__body {
        width: 100%;
        // padding: 0 15%;
        // display: grid;
        // grid-template-columns: 1fr 3fr;
        // grid-gap: 2rem;
        padding-bottom: 15rem;
    }

    &__up {
        position: fixed;
        width: 10rem;
        height: 10rem;
        top: calc(100% - 24rem);
        left: calc(100% - 10rem);
        color: $text-color;
        cursor: pointer;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        // display: none;
        // visibility: hidden;
        opacity: 0;
        transition: .2s;
        

        i {
            font-size: 5rem;
            
        }
    }

    .show {
        opacity: 1;
    }

    @media (max-width: 1366px) {

        
        padding: 0 5%;

        &__up {
            height: 3rem;
            width: 3rem;
            top: calc(100% - 19rem);
            left: calc(100% - 3rem);

            i {
                font-size: 2rem;
            }
        }
    
    }
    
    @media (max-width: 900px) {
    
        
        // .Header {
        //     grid-column: 1/3;
        //     grid-row: 1/2;
        // }

        

        &__up {
            top: calc(100% - 25rem);
        }
    }

    @media (max-width: 770px) {
        margin-top: 5rem;
        // .Banners {
        //     grid-row: 3;
        // }

        // .SideMenu {
        //     grid-column: 1/3;
        //     grid-row: 2;
        //     padding-bottom: 0;

        //     &__name {
        //         display: none;
        //     }
        // }

        .Content {
            grid-column: 1/3;
            padding-bottom: 30rem;
            // grid-row: 4;
        }

        &__up {
            height: 4rem;
            width: 4rem;
            top: calc(100% - 19rem);
            left: calc(100% - 4rem);

            i {
                font-size: 3rem;
            }
        }
        // &__up {
        //     display: none;
        // }
    }

    @media (max-width: 720px) {
        grid-template-rows: 18rem max-content max-content;
    }
    
}


