@import '../../params';

.About {
    width: 100%;
    color: $text-color;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    font-size: 1.3rem;

    &__title {
        font-size: 2.5rem;
        color: $text-color-dark;
        font-weight: bold;
        grid-column: 1/3;
    }

    &__info {
        font-weight: bold;
        margin: 1rem 0;
        margin-bottom: 3rem;
        grid-column: 1/3;
        font-size: 1.5rem;
    }
    
    &__adv {
        .title {
            font-size: 2rem;
            color: $text-color-dark;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;
            
            .icon {
                height: 10rem;
                margin-bottom: 2rem;
            }

            li {
                // height: 4rem;
                padding: 1rem;
                
                // display: grid;
                // grid-template-columns: 1fr 8fr;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                
            }
        }
    }

    &__contacts {
        position: relative;
        width: 70%;
        margin-bottom: 5rem;
        .title {
            font-size: 2rem;
            color: $text-color-dark;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .phone, .mail {
            height: 4rem;
            padding: 0 1rem;
            background-color: $secondary;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            margin-bottom: 1rem;

            font-size: 2rem;
            color: $text-color-dark;
            font-weight: bold;
            grid-column: 1/3;

                i {
                    margin-right: 1rem;
                    font-size: 2.5rem;
                }
        }

        .phone {i {color: #329432}}
        .mail {i {color: #B38B0A}}
        
        .soc {
            height: 4rem;
            padding: 0.5rem;
            position: absolute;
            right: -4rem;
            top: 6rem;
            background-color: $secondary;
            border-radius: 2.5rem;
            width: 12rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            box-shadow: 0 0 0.3rem gray;


            a {
                // height: 100%;
                width: 100%;
                text-align: center;
            }

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 770px) {
        &__adv, &__contacts {
            grid-column: 1/3;
            margin-bottom: 2rem;
        }

        &__adv {
            .list {
                grid-template-columns: 1fr 1fr;
            }
        }

        &__contacts {
            width: 95%;
            font-size: 1.2rem;
        }
    }

    @media (max-width: 398px) {
        .soc {
            top: 8rem;
        }
    }
}
