@import '../../params';



.MainPage {
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        height: 3rem;
        margin-bottom: 2rem;
        align-self: flex-start;
    }

    &__info {
        font-size: 1.4rem;
        // font-weight: bold;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        width: 100%;
        margin-bottom: 2rem;

        &-item {
            background-color: white;
            height: 17rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1rem solid $secondary;
            border-radius: 1rem;
            cursor: pointer;

            .text {
                font-size: 1.5rem;
                font-weight: bold;
                height: 2rem;
                margin-bottom: 1rem;
            }

            img {
                height: 11rem;
            }

            &:hover {
                border: 1rem solid lighten($accent, 15);
                // background-color: lighten($accent, 40);
            }
        }
    }

    &__adv {
        .title {
            font-size: 2rem;
            color: $text-color-dark;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;
            
            .icon {
                height: 10rem;
                margin-bottom: 2rem;
            }

            li {
                // height: 4rem;
                padding: 1rem;
                
                // display: grid;
                // grid-template-columns: 1fr 8fr;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                
            }
        }
    }

    @media (max-width: 970px){
        &__list {
            grid-template-columns: 1fr 1fr;
        }
            
    }


    @media (max-width: 770px) {

        &__adv {
            .list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (max-width: 530px) {
        
        &__list {
            grid-template-columns: 1fr;
        }
    }
}

