@import '../../params';

.Jobs {
    font-size: 1.3rem;
    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    &__job {
        margin: 2rem 0;

        .name {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }

        ul {
            margin-left: 1rem;
        }

        .req, .cond {
            div {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            li {
                list-style: disc inside;
                margin-bottom: 0.3rem;
            }
        }
    }
}
