@import '../../params';

.Product {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    color: $text-color;
    font-size: 1.3rem;

    // padding: 1rem;
    // background-color: $secondary;
    // margin-bottom: 0.5rem;
    // border-radius: 1rem;

    &__name {
        font-size: 2.5rem;
        // margin-bottom: 2rem;
        font-weight: bold;
        grid-column: 1/3;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__desc {
        grid-column: 1/3;
        background-color: $secondary;
        padding: 1.5rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        line-height: 160%;
    }

    &__contacts {

        p {
            font-size: 2rem;
            font-weight: bold;
        }

        li {
            font-size: 1.5rem;
            margin: .5rem 0;
        }

        .messengers {
            img {
                height: 4rem;
            }
        }
    }

    &__img {
        width: 100%;
        text-align: center;
        grid-row: 2/4;
        // padding: 3rem 0;
        // height: 25rem;
        justify-self: center;
        // background-color: $secondary;
        border-radius: 1rem 0 0 1rem;
    
        img {
            width: 100%;
            // height: 100%;
                
        }
    }

    &__card {
        grid-column: 2/3;
        height: 25rem;
        background-color: $secondary;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
        border-radius: 1rem;
    }

    

    &__amount {
        display: flex;
        align-items: center;
        // font-size: 2rem;

        & > span {
            display: flex;
        }

        input {
            width: 6rem;
            height: 2.7rem;
            padding: 0 0.5rem;
            border-radius: 0.5rem;
            text-align: center;

            
        }

        .plus, .minus {
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: $primary;
            border-radius: 0.5rem;

            &:hover {
                background-color: $accent;
                color: white;
            }
        }
    }

    &__price, &__amount, &__cost {
        display: flex;
        justify-content: space-between;
    }

    button {
        border-radius: 0.5rem;
        background-color: $primary;
        font-weight: bold;
        cursor: pointer;
        display: block;
        padding: 1rem;
        margin-top: 2rem;

        &:hover {
            background-color: $accent;
            color: white;
        }
    }

    &__params {
        font-size: 1.3rem;
        grid-column: 1/3;

        h2 {
            margin: 1rem 0;
        }

        li {
            margin: 0.5rem 0;
            list-style: disc inside;
        }
    }

    &__contacts {
        grid-column: 1/3;
    }

    &__adv {
        margin: 5rem 0;
        .title {
            font-size: 2rem;
            color: $text-color-dark;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2rem;

            .icon {
                height: 10rem;
                margin-bottom: 2rem;
            }

            li {
                // height: 4rem;
                padding: 1rem;
                
                // display: grid;
                // grid-template-columns: 1fr 8fr;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                
            }
        }
    }

    &__info  {
        grid-column: 1/3;
        h2 {
            margin: 1rem 0;
        }

        p {
            margin-bottom: 1rem;
        }

        li {
            list-style: disc inside;
            margin-bottom: 0.3rem;
        }

        .offer {
            margin-top: 2rem;

            p {
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    @media (max-width: 700px) {

        &__card, &__img, .Calc {
            grid-column: 1/3;
        }

        &__adv {
            .list {
                grid-template-columns: 1fr 1fr;
            }
        }

    }
}