@import '../../params';

.Header {
    width: 100%;
    // padding: 0 15%;
    min-height: 12rem;
    display: grid;
    // grid-gap: 2rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 6fr;
    // flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 2rem;
    // grid-column: 2/3;

    &__name {
        // display: none;
        grid-column: 1;
        grid-row: 1/3;
        width: 100%;
        height: 100%;
        padding-top: 1rem;
        text-align: center;

        .logo {
            // width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            

            img {
                width: 100%;
                // height: 100%;
            }
        }
        
        
    }

    &__info {
        display: grid;
        // grid-gap: .5rem;
        align-items: center;
        grid-template-columns: 2fr 1fr 1fr;
        height: 100%;
        // margin-bottom: 10%;
        font-size: 1.3rem;
        grid-column: 2;
    }   

    &__messengers {
        display: none;
    }

    &__banner {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bolder;
        color: #C00D0D;
        border: 0.2rem solid #C00D0D;
        border-radius: 1rem;
        background-color: $secondary;
    }

    &__time {
        // text-align: end;
        // padding-left: 2rem;
        justify-self: center;
        display: flex;
        // align-items: center;

        i {
            // font-size: 2rem;
            margin-left: 1rem;
            color: $accent-dark;
        }

        span {
            text-align: right;
        }
    }

    &__contacts {
        text-align: end;
        font-size: 1.7rem;
        font-weight: bold;

        div {
            i {
                margin-left: 1rem;
                color: $accent-dark;
            }
        }
    }

    &__nav {
        // height: 40%;
        width: 100%;
        display: flex;
        width: 100%;
        background-color: $secondary;
        border-radius: 0.5rem;
        padding: 0 1rem;
        // padding-right: 1rem;
        box-shadow: 0 0 0.3rem gray;
        font-size: 1.4rem;
        grid-column: 2;

        &-button {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
        }

        &-item {
            padding: 0 1rem;
            color: $text-color;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: $accent;
                color: white;
            }
        }

        .selected {
            border: 0.1rem solid #B6B6B6;
            background-color: $primary;

            &:hover {
                background-color: $accent;
                color: white;
            }
        }

        &-search {
            margin-left: auto;
            height: 100%;
            padding: 1rem 0;
            position: relative;

            input {
                background-color: $primary;
                height: 100%;
                padding: 0 1rem;
                border-radius: 0.5rem;
                border: 0.2rem solid #CDCDCD;

                &::placeholder {
                    color: #CDCDCD;
                    font-weight: bold;
                }
            }

            i {
                position: absolute;
                right: 0.8rem;
                top: 2rem;
                z-index: 100;
                color: #CDCDCD;
                cursor: pointer;
                
                &:hover {
                    color: $accent;
                }
            }

            // .fas {
            //     position: absolute;
            //     right: 0;
            //     color: $primary;
            //     z-index: 100;
            //     background-color: red;
            // }
        }
    }

    @media (min-width: 1000px) {

        &__name {
            
    
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
    

            }
            
            
        }

        &__info {
            font-size: 1.5rem;
        } 

       

        
    }

    @media (min-width: 600px) {
        &__time {
            margin-left: 3rem;
        }
    }

    @media (max-width: 1000px) {

        &__info {
            grid-gap: 2rem;
        }

        &__nav {
            &-item {
                padding: 0 0.7rem;
            }
            

            &-search {
                input {
                    max-width: 20rem;
                }
                
            }
        }

        &__contacts {
            font-size: 1.5rem;
        }
    }

    @media (min-width: 770px) and (max-width: 900px) {

        

        &__info {
            grid-gap: 1rem;


        }

        &__contacts {
            font-size: 1.3rem;
        }

        &__nav {
            &-item {
                padding: 0 0.5rem;
            }
            

            &-search {
                input {
                    max-width: 15rem;
                }
                
            }
        }
    }

    @media (max-width: 770px) {
        grid-column-gap: 2rem;

        &__name {
            

            .logo {
                align-items: flex-start;
            }
        }

        &__info {
            grid-template-columns: 1fr 2fr 2fr;
            justify-items: end;
            grid-gap: 0.5rem;
            height: 5.5rem;
        }

        &__banner {
            // grid-column: 1/3;
            // justify-self: center;
            padding: .5rem 1rem;
            font-size: 1.3rem;
        }

        &__time {
            padding-left: 0;
        }
        
        &__contacts {
            margin-top: 0.5rem;
        }

        &__contacts div:first-child {
            display: none;
        }

        &__messengers {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 0.2rem;

            a {
                width: 3rem;
                margin-left: 1rem;

                img {
                    width: 100%;
                }
            }
        }

        &__nav {

            background-color: $secondary;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5.5rem max-content;
            z-index: 1500;

            .show {
                display: flex;
                z-index: 1000;
                background-color: inherit;
            }

            &-button {
                display: block;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                color: rgb(167, 165, 165);
                justify-self: start;

                span {
                    padding-left: 0.5rem;
                    // border-left: .5rem dotted rgb(204, 204, 204);
                    font-size: 1.5rem;
                    font-weight: bold;
                }

            }

            &-list {
                grid-row: 2/3;
                grid-column: 1/3;

                flex-direction: column;
                justify-self: start;
                
                width: 100%;
                display: none;
                background-color: $secondary;
                padding: 1rem 0;
            }

            &-item {
                // width: calc(100% - 2rem);
                width: 100%;
                padding: 1rem;
                // margin-left: -1rem;
                // padding-left: 3rem;
            }

            .selected {
                border: none;
            }
        }
    }

    @media (max-width: 720px) {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        // min-height: 18rem;
        max-height: 15rem;


        &__name {
            text-align: center;
            grid-row: 1;
            grid-column: 1;
            // height: 100%;

            .logo {
                // height: 100%;
                // width: 100%;
                align-items: center;
                img {
                    // max-height: 100%;
                    // max-height: max-content;
                    width: 100%;
                    // margin: auto 0;
                    // height: 100%;
                }
            }

            
        }

        &__info {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: end;
            grid-gap: 0.5rem;
            height: 7rem;
            grid-row: 1;
            grid-column: 2;
        }

        &__banner {
            grid-column: 1/3;
            grid-row: 1;
            justify-self: end;
        }

        &__time {
            grid-row: 1/3;
            grid-column: 1;

            font-size: 1.8rem;
        }

        &__contacts {
            grid-row: 2;
            grid-column: 2;
        }

        &__nav {
            grid-column: 1/3;
            grid-row: 2;
        }
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr 3fr;
        // height: 100%;
        &__info {
            font-size: 1.3rem;
        }


        &__contacts {
            font-size: 1.3rem;

        }
    }

    @media (max-width: 520px) {
        
        &__time {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 450px) {
        // height: 100%;
        &__info {
            font-size: 1.1rem;
            align-items: flex-start;
        }

        &__time {
            align-self: center;
            font-size: 1.3rem;
        }

        &__contacts {
            font-size: 1.1rem;

        }
    }

    @media (max-width: 390px) {
        // height: 100%;
        &__info {
            font-size: 1rem;
            align-items: flex-end;
        }

        &__time {
            align-self: end;
            margin-bottom: 1rem;
            align-items: center;
        }


        &__contacts {
            font-size: 1rem;

        }
    }

    @media (max-width: 360px) {
        grid-template-columns: 1fr 4fr;

        &__info {
            grid-template-columns: 2fr 3fr;
        }

        &__time {
            align-self: center;
            font-size: 1.1rem;
        }
    }
}


