@import '../../params';

$title-height: 5rem;

.SideMenu {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    padding-bottom: 20rem;

    &__name {
        height: 12rem;
        padding: 1rem;
        text-align: center;
        height: 19rem;

        img {
            height: 100%;
            // width: 100%;
        }
    }

    &__mobile {
        display: none;
    }

    &__list {
        padding: 2rem;
        border-radius: 2rem;
        background-color: $secondary;
        font-size: 1.3rem;
        color: $text-color;

        .opened {
            height: max-content;
        }

        .closed {
            height: $title-height !important;
        }

        &-item {
            overflow: hidden;
            transition: .2s;
            height: $title-height;
            
            

            .title {
               
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: $title-height;
                padding-right: .5rem;

                &-container {
                    font-size: 1.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    
                    cursor: pointer;
                }
            }

            .arrow {
                background-color: $primary;
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .2s;
                border-radius: 50%;
                font-size: 1.2rem;
                // padding-top: 0.1rem;
            }

            .list {
                
                li {
                    padding: 0.5rem 0;
                    cursor: pointer;
                    
                    &:hover {
                        color: black;
                    }
                }
            }

            .up {
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width: 770px) {
        

        &__mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 2rem;
            font-size: 1.8rem;

            position: fixed;
            width: 100%;
            background-color: $text-color;
            top: 0;
            left: 0;
            height: 5rem;

            color: white;
            z-index: 10000;
        }

        &__list {
            display: none;
            z-index: 10000;
            position: fixed;
            background-color: $text-color;
            color: white;
            border-radius: 0;
            left: 0;
            top: 5rem;
            overflow-y: scroll;
            height: calc(100vh - 15rem);

            .arrow {
                background-color: inherit;
            }
        }

        .show {
            display: block;
        }
    }

    @media (max-width: 420px) {
        &__mobile {
            font-size: 1.6rem;
        }
    }

    @media (max-width: 360px) {
        &__mobile {
            font-size: 1.4rem;
        }
    }

    
    
}
