@import '../../params';

$slider-width: 78rem;


.Partners {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__mobile {
        display: none;
    }

    &__title {
        // text-align: center;
        font-size: 2.5rem;
    }

    &__slider {
        position: relative;
        height: max-content;
        width: $slider-width;
        overflow: hidden;
        margin-top: 2rem;

        .hide {
            opacity: 0;
        }

        .btn-back, .btn-fwd {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 6rem;
            width: 6rem;
            margin: 0 2rem;
            top: calc(50% - 3rem);
            left: 0;
            z-index: 100;
            background-color: white;
            border-radius: 50%;
            font-size: 3rem;
            color: lighten($color: $text-color, $amount: 40);
            
        }

        .btn-back {
            padding-right: 0.5rem;
        }

        .btn-fwd {
            left: calc(100% - 10rem);
            padding-left: 0.5rem;
        }

        .move-box {
            // position: absolute;
            // top: 0;
            // left: 0;
            height: 100%;
            display: flex;
            width: max-content;
            transition: 0.3s;

        }

        .slide {
            width: $slider-width;
            padding: 0 10rem;
            display: flex;
            align-items: center;

            & > div {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                width: 100%;
                background-color: white;
                padding: 1rem;
                border-radius: 0.5rem;
    
                img {
                    width: 20%;
                    margin-right: 2rem;
                }
            }
            
        }
    }

    &__list {
        text-align: center;
        margin: 2rem 0;
        
        img {
            max-height: 10rem;
            max-width: calc(20% - 4rem);
            margin: 2rem;
        }

    }

    @media (max-width: 770px) {

        &__title {
            margin-bottom: 2rem;
        }

        &__slider, &__list {
            display: none;
        }

        &__mobile {
            display: block;

            .item {
                text-align: center;
                margin-bottom: 5rem;
                font-size: 1.2rem;
                img {
                    max-width: 25%;
                    text-align: center;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    @media (max-width: 570px) {
        &__mobile {
            .item {
                img {
                    max-width: 50%;
                }
            }
        }
    }
}

