@import '../../params';

.Calc {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $secondary;
    // width: max-content;
    border-radius: 1rem;

    .title {
        margin-bottom: 2rem;
    }

    label {
        margin-bottom: 1.5rem;
        widows: 100%;
        display: block;


        input {
            margin-top: 0.5rem;
            background-color: white;
            // border-bottom: 0.1rem solid $text-color;
            padding: 0.5rem;
            widows: 100%;

            &:focus {
                border-bottom: 0.1rem solid $accent-dark;
            }
        }
    }
}