@import '../../params';

.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 15%;
    // height: 12rem;
    background-color: #D8D8D8;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    color: $text-color;
    border-top: 0.2rem solid #9B9B9B;

    & > div:nth-child(2), & > div:nth-child(3) {
        text-align: center;
    }

    &__other {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name, &__phone, &__mail {
        font-size: 1.8rem;
        font-weight: bolder;
        margin-bottom: 1rem;
        color: $text-color-dark;

        i {
            margin-left: 1rem;
        color: $accent-dark;
        }
    }

    &__site-map, &__pr-policy, &__toadmin {
        margin-bottom: 0.5rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__toadmin {
        visibility: hidden;
    }

    &__address {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        // align-items: center;
        text-align: right;

        i {
            margin-left: 1rem;
        color: $accent-dark;
        }
    }

    &__call, &__ask {
        background-color: $secondary;
        border-radius: 0.5rem;
        border: .1rem solid #CDCDCD;
        padding: 1rem;
        width: 22rem;
        color: $text-color;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $accent;
            color: white;
        }
    }

    &__messengers {
        margin-top: 1.5rem;
        text-align: right;
        img {
            width: 4rem;
            height: 4rem;
        }

        a {
            margin-right: 1rem;
        }
    }

    @media (max-width: 1366px) {
        padding: 2rem 5%;
    }

    @media (min-width: 600px) and (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;

        &__other, &__block4 {
            grid-row: 1/3;
        }


        &__block2, &__block3 {
            grid-column: 2/3;
        }

        &__block4 {
            grid-column: 3/4;
        }
        
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;

        // &__other, &__block2, &__block3, &__block4 {
        //     grid-row: 1/3;
        // }


        &__block4 {
            text-align: center;
        }

        &__address, &__messengers {
            text-align: center;
            display: block;
        }
    }
}

