@import '../../params';

.Policy {
    font-size: 1.3rem;
    line-height: 150%;
    .title {
        font-size: 2.5rem;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 2rem;
    }

    ul {
        margin: 0.5rem 0;
    }
}
