@import './params';

html, body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $primary;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
}

input {
    border: none;
    outline: none;
}
