@import '../../params';


$slider-width: 78rem;

.Banners {

    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    .mobile {
        display: none;
    }

    &__static-banner {
        width: 100%;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    &__slider {
        position: relative;
        height: max-content;
        width: 100%;
        
        overflow: hidden;
        // margin-bottom: 2rem;

        .hide {
            opacity: 0 !important;
        }

        &:hover {
            .btn-back, .btn-fwd {
                opacity: 1;
            }
        }

        .btn-back, .btn-fwd {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 100%;
            width: 4rem;
            // margin: 0 2rem;
            top: 0;
            left: 0;
            z-index: 100;
            font-size: 3rem;
            color: lighten($color: $accent, $amount: 20);
            opacity: 0;
            
        }

        .btn-back {
            // padding-right: 0.5rem;
        }

        .btn-fwd {
            left: calc(100% - 4rem);
            padding-left: 0.5rem;
        }

        .move-box {
            height: 100%;
            
            width: 400%;
            display: flex;
            // width: max-content;
            transition: 0.3s;

        }

        .slide {
            width: calc(100% / 4);
            // padding: 0 10rem;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            & > div {
                display: flex;
                align-items: center;
                width: 100%;
    
                img {
                    width: 100%;
                    // margin-right: 2rem;
                }
            }
            
        }
    }

    
    @media (max-width: 600px) {
        
        grid-template-columns: 1fr;

        &__slider:nth-child(1), &__static-banner {
            display: none;
        }

        .mobile {
            display: block !important;

            .move-box {
                width: 500%;
            }

            .slide {
                width: calc(100% / 5);
            }
        }
        
    }

    // @media (max-width: 980px) {
        
    //     &__slider {
    //         display: none;
    //     }

    //     &__mobile-slider {
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;
    //         justify-items: center;
    //         grid-gap: 2rem;
    //         margin-bottom: 2rem;


    //         img {
    //             width: 100%;

                
    //         }
    //     }
    // }
}


