@import '../../params';

.Contacts {
    
    color: $text-color;
    font-size: 1.5rem;

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    &__mail , &__time , &__tel , &__messengers , &__address {
        margin: 2rem 0;
    }

    &__messengers {
        img {
            width: 4rem;
            height: 4rem;
        }

        a {
            margin-right: 1rem;
        }
    }

    p {
        margin: 0.5rem 0;
        
    }

    &__map {
        height: max-content;
        width: 100%;
        font-size: 1.3rem;

        #mapid-contacts {
            width: 100%;
            height: 40rem;
        }
    }
}

